body{
    background-color: rgb(104, 142, 143);
    color: black;
    height: 100%;
    padding: 0;
}

.page{
    background-color: white;
    height: 100%;
    flex-direction: column;
    padding: 0;
}

.header{
    background-color: rgb(82, 82, 82);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title{
    background-color: rgb(201, 201, 201);
}

.title h1{
    margin: 0;
    padding: 16px 30px;
}

.title h2, .title h3{
    margin: 0;
    padding: 10px 50px;
}

.title p{
    text-align: justify;
    margin: 0;
    padding: 10px 50px;
}

.events-data{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 8px 8px 16px;
}

.events-data h3{
    align-self: flex-start;
    margin: 6px 0 18px 50px;
}

.filter{
    text-align: left;
}

.filter-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    width: 50%;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-buttons button{
    margin: 4px;
}

.results{
    margin: 10px 0px 6px 0px;
    overflow: auto;
    width: 90%;
}

table, thead, tbody, th, tr, td{
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 2px 4px;
    text-align: center;
}

/*center the table, if flex is used in .results to center it the table cuts off on the left when there is overflow*/
table{
    margin: 6px auto
}

th{
    word-wrap: normal;
}

td{
    word-wrap: break-word;
    word-break: break-word;
    max-width: 120px;
}

.footer{
    background-color: rgb(104, 142, 143);
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bolder;
    justify-content: space-evenly;
}

.footer ul{
    color: black;
    margin: 0;
    padding: 10px;
}

.footer ul li{
    list-style: none;
    padding: 4px 0px;
}

.footer ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}